$def with (usuario)

<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400&lang=en" rel="stylesheet" type="text/css">
<link href="/static/dashboard.css" rel="stylesheet" type="text/css">
<title>Dashboard</title>
</head>
<body>

<img id=logo src="/static/logo.png" width="56px" height="56px" title="phckopper was here"></img>
<div id=info>
  <b>JABUTI EDU</b>
  <br />SOFTWARE EDUCACIONAL MARISTA<br />
</div>
<div id=usuario>
  Bem vindo, $usuario
</div>
<a id=logout href="/logout"><img src="/static/logout.png"></img></a>
<hr>
<div id=iniciar>
  <h2>Iniciar</h2>
  <br /><br /> <br />
  <a href="/modulo1">Módulo 1</a><br /><br />
  <a href="/modulo2">Módulo 2</a><br /><br />
  <a href="/modulo3">Módulo 3</a><br /><br />
  <a href="/modulo4">Módulo 4</a><br /><br />
</div>
<div id=explorar>
  <h2>Explorar</h2>
  <img src="/static/osi_greyscale_logo.png" title="Information wants to be free. Really"></img>
</div>
</body>
</html>
