$def with (usuario)

<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<link href="/static/styles.css" rel="stylesheet" type="text/css">
<title>Dashboard</title>
</head>
<body>
<header>
<img id=logo src="/static/logo.png" width="56px" height="56px" title="phckopper was here"></img>
<div id=info>
  <b>JABUTI EDU</b>
  <br />SOFTWARE EDUCACIONAL MARISTA<br />
</div>
<span id=usuario>
  Bem vindo, $usuario
</span>
</header>
<hr>
<div id=iniciar>
  <h2>Iniciar</h2>
  <br /><br /> <br />
  <a href="/modulo1">Módulo 1</a><br /><br />
  <a href="/modulo2">Módulo 2</a><br /><br />
  <a href="/modulo3">Módulo 3</a><br /><br />
  <a href="/modulo4">Módulo 4</a><br /><br />
</div>
</body>
</html>
